    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    body {
        background-color: #e7e7e7;
    }
    
    nav {
        z-index: 999;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
    }
    
    nav .top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
        height: 32px;
        background-color: rgb(77, 77, 77, 0.4);
    }
    
    nav .top ul {
        list-style: none;
    }
    
    nav .top ul li {
        float: left;
        width: 5%;
        height: 5%;
        margin-left: 15%;
        line-height: 30px;
    }
    
    nav .top ul li a {
        display: inline-block;
        width: 80px;
        height: 30px;
        text-align: center;
        color: rgb(0, 0, 0);
        transition: all 0.3s;
        box-sizing: border-box;
        font-size: 14px;
    }
    
    nav .top ul li a:hover {
        color: rgb(242, 246, 250);
        border-right: 1px solid rgb(135, 135, 135);
        border-right: 1px solid #313131;
        box-shadow: inset 1px -1px 5px 4px #928f8f;
        transform: scale(1.1);
    }
    
    nav .top ul li a img {
        margin-top: 5px;
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    
    nav .top ul li .qqE-mail {
        position: relative;
        width: 80px;
        height: 100%;
        color: #313131;
    }
    
    nav .top ul li .qqE-mail b {
        position: absolute;
        top: -50px;
    }
    
    nav .top ul li .qqE-mail:hover b {
        position: absolute;
        top: 30px;
        right: 0px;
        color: #000000;
    }
    /* 顶部导航结束 */
    
    section {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        min-height: 30vh;
        border: 1px solid black;
        font-weight: 400;
        font-size: 24px;
        border-radius: 5px;
    }
    
    section p {
        position: absolute;
        top: 40px;
        margin-top: 40px
    }
    
    section img {
        width: 38vh;
        height: 30vh;
    }
    /* 轮博图结束 */
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-top: 20px;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        min-height: 15vh;
        border-radius: 5px;
        border: 5px solid black;
        background: linear-gradient(to left, #72ed84, #0991db);
        animation: domocolor 3s cubic-bezier(0.43, -0.15, 0.58, 1) infinite alternate;
    }
    /*@keyframes domocolor {
    0% {
        background: linear-gradient(to left, #d3959b, #bfe6ba);
    }
    100% {
        background: linear-gradient(to left, #b29295, #8ab484);
    }
}*/
    
    header .text {
        position: absolute;
        top: 20px;
        font-size: 1.5em;
        text-align: center;
        line-height: 15vh;
    }
    
    header .box_img {
        align-items: center;
        position: absolute;
        top: 0px;
        width: 60px;
        height: 60px;
        background-image: url(./img/3141683800567_.pic-removebg-preview.png);
        background-size: cover;
    }
    
    main {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-top: 2%;
        margin-right: 10%;
        width: 80%;
        height: 800px;
        border-radius: 5%;
    }
    
    main article {
        cursor: pointer;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        background-color: aliceblue;
    }
    
    main article div {
        margin-top: 10px;
        width: 230px;
        height: 224px;
        text-align: center;
        /* border: 1px solid black; */
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 5px 4px 0px rgb(171, 164, 164);
        transition: all 0.6s;
        ;
    }
    
    main article div:hover {
        transform: scale(0.9);
        box-shadow: 10px 13px 6px 0px rgb(171, 164, 164);
    }
    
    main article div a {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    main article div a .item {
        z-index: -1;
        position: absolute;
        top: 20px;
        width: 100%;
        height: 20px;
        transition: all 0.6s;
        border: 0px solid transparent;
        opacity: 0;
        box-shadow: none;
    }
    
    main article div a:hover .item {
        z-index: 0;
        opacity: 1;
        top: 0px;
    }
    
    main article div a:hover .item {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    main article div a h4 {
        margin-top: 10px;
    }
    
    main article div img {
        width: 100%;
        height: 68%;
        transition: all 0.6s;
    }
    
    main article div a:hover img {
        transform: scale(0.8);
    }